.header {
	width: 100%;
	padding: 18px 0;
	position: absolute;
}

.navigation {
	display: none;
}

.navList {
	display: flex;
	gap: 40px;
	justify-content: center;
}

.burgerBtn {
	border: transparent;
	background-color: transparent;
}

.mobileHeader {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.navigation {
		display: block;
	}

	.mobileHeader {
		display: none;
	}
}
