@import 'modern-normalize';

@font-face {
	font-family: 'Jost';
	src: url('./assets/fonts/Jost-VariableFont_wght.ttf') format('woff2');
	font-weight: 400 900;
	font-style: normal;
}

:root {
	font-family: Jost;
	line-height: 1.2;
	font-weight: 400;
	color: #000;
	background-color: #fff;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0 auto;
}

a {
	color: currentColor;
	text-decoration: none;
}

h1 {
	color: #fff;
	text-align: center;
	font-family: Jost;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
	transition: all 0.3s;
}

.swiper {
	display: flex;
	align-items: center;
	height: 540px;
	max-width: 1064px;
	overflow: visible;
}

.swiper-reviews {
	display: flex;
	align-items: center;
	height: 300px;
	max-width: 1064px;

	.swiper-button-prev,
	.swiper-button-next {
		color: #b2b2b2;
	}
}

.swiper-button-prev,
.swiper-button-next {
	color: #b2b2b2;
	transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: #5245dd;
}

/* @media screen and (min-width: 768px) {

} */

@media screen and (min-width: 1280px) {
	body {
		background-image: url('/public/img/bg-body-min.png');
		background-position: center;
		background-size: cover;
	}

	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.section {
			background-image: url('/public/img/bg-body-2x-min.png');
		}
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}
	.swiper {
		height: 620px;
	}

	.swiper-reviews {
		height: 300px;

		.swiper-button-prev,
		.swiper-button-next {
			display: inline;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}
